.blue-color {
    background-color: #0d6efd;
}
.light-blue-color {
    background-color: #9ec5fe;
}
.margin-gh {
    margin: 5% 11%;
}
.rounded-gh {
    border-radius: 1.5rem!important;
}
.soft-white {
    background-color: #f8f9fa;
}

